.gifBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 80px;
  width: 90%;
  max-width: 995px;
  margin: 0 auto;
  height: 100vh;
  overflow: auto;
}

.gifBlock::-webkit-scrollbar {
  display: none;
}

/* .gifBlock::-webkit-scrollbar {
  width: 3px;
  background-color: none;
}
.gifBlock::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 9em;
} */

.preloader {
  margin: 0 auto;
}

.gifBlock button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background: linear-gradient(rgb(255, 212, 3), rgb(248, 157, 23));
  border-radius: 7px;
  border: none;
  outline: none;
  right: 10px;
  bottom: 20px;
  width: 70px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gifBlock button:hover {
  opacity: 0.9;
}

.gif_item {
  width: 180px;
  height: 180px;
  margin: 0 2px 5px 2px;
  overflow: hidden;
}

.gif_item img {
  width: 100%;
}

@media (max-width: 1015px) {
  .gifBlock {
    justify-content: center;
  }
}

@media (max-width: 840px) {
  .gifBlock {
    justify-content: center;
  }
}

@media (max-width: 414px) {
  .gif_item {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 320px) {
  .gif_item {
    width: 80px;
    height: 80px;
  }
}
